<!DOCTYPE html>
<html lang="zh-CN">

    <head>
        <!--这是src/index.html-->
        <!--使用HBuilderX构建时会取代src/index.html-->
        <link rel="icon" href="<%= BASE_URL %>static/ico/favicon.ico">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            <%= htmlWebpackPlugin.options.title %>
        </title>
        <!--
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                document.documentElement.style.fontSize = document.documentElement.clientWidth / 20 + 'px'
            })
            var coverSupport = 'CSS' in window && typeof CSS.supports === 'function' && (CSS.supports('top: env(a)') || CSS.supports('top: constant(a)'))
            document.write('<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0' + (coverSupport ? ', viewport-fit=cover' : '') + '" />')
        </script>
        -->
        <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
        <link rel="stylesheet" href="<%= BASE_URL %>static/index.<%= VUE_APP_INDEX_CSS_HASH %>.css" />
        <style>
            body::after {
                content: none;  
            }
        </style>
    </head>

    <body>
        <noscript>
            <strong>Please enable JavaScript to continue.</strong>
        </noscript>
        <div id="app"></div>
        <!-- built files will be auto injected -->
        <script type="text/javascript">
			if ("serviceWorker" in navigator && 'PushManager' in window ) {
				window.addEventListener('load', async () => { // 这个load 可以删除 如果你的浏览器没加载出来 可以添加一下这个
					navigator.serviceWorker.register("./service-worker.js").then(function (registration) {
					});
				})
			}
		</script>
        <!--
            https://juejin.cn/post/7125635941397430286
            无论如何，service-worker.js都没有被自动添加到这里，所以手动添加。
        -->
    </body>

</html>